
html,
body,
#root {
  /* height: 100dvh; */
  /* width: 100dvw; */
  min-height: 100vh; /* Changed from height to min-height */
  width: 100vw; /* Fallback if browsers does not support dvw */
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #17161D;
  user-select: none;
  flex-wrap: wrap;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);

  /* For mobile devices */
  @media (max-width: 768px) {
    min-height: 100vh; /* Changed from height: 100% */
    position: relative; /* Changed from fixed */
    overflow-y: auto; /* Changed from scroll */
    -webkit-overflow-scrolling: touch;
  }
}

input:-webkit-autofill {
  -webkit-background-clip: text; /* To remove the highlight color from autocompleted inputs */
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}



